<h1>Weather for these Addresses</h1>
<% unless @addresses.present? %>
    <h2> No addresses to list.</h2>
<% end %>
<ul>
<% if @addresses.present? %>
    <% @addresses.each do |address| %>
        <li> <%=link_to address&.street_address, "/addresses/#{address.id}" %></li>
    <% end %>
<% end %>
</ul>
<hr>
<h2>Enter your address and find your weather:</h2>
<%= form_with model: @address, url: "addresses/", method: :post do |form| %>
<label for="street_address">Street Address</label>

<%=form.text_field :street_address, placeholder: "Street Address" %>

<label for="city">City: </label>
<%=form.text_field :city, placeholder: "City" %>

<label for="state">State</label>
<%=form.text_field :state, placeholder: "State" %>

<label for="zip">Zip</p>
<%=form.text_field :zip, placeholder: "Zip" %>
<%= form.submit %>
<% end %>