<hr>
<%=link_to "Go back", "/" %> | 
<%=link_to "Update weather for address", update_weather_address_path(id: @address.id) %> 
<hr>

<h1>Weather for Address: </h1>
<h2>Address</h2>
<p>
<b>Street Address: </b>
<%= @address.street_address %>
</p>
<p>
<b>City: </b>
<%= @address.city %>
</p>
<p>
<b>State: </b>
<%= @address.state %>
</p>
<p>
<b>Zip: </b>
<%= @address.zip %>
</p>

<h2>Weather</h2>
<% @address.weather.order("created_at DESC").each do |day_weather| %>
    <p>
        <b>as of:</b>
        <b><%= day_weather&.created_at.strftime("%b %d, %Y %H:%M:%S") %></b>
    </p>
    <p>
        <b>from cache</b>
        <b><%= day_weather&.from_cache %></b>
    </p>
    <p>
        <b>Description:</b>
        <%= day_weather&.description%>
    </p>
    <p>
        <b>Temperature (F):</b>
        <%= day_weather&.temperature_f%>
    </p>
    <p>
        <b>Humidity:</b>
        <%= day_weather&.humidity%>
    </p>
    <p>
        <b>Visibility:</b>
        <%= day_weather&.visibility%>
    </p>
    <hr>
<% end %>
<hr>
<%=link_to "Go back", "/" %> | 
<%=link_to "Update weather for address", update_weather_address_path(id: @address.id) %> 
<hr>

